.right-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-card{
    aspect-ratio: 1/1;
    width: 100%;
}
.card-image{
    width: 100%;
    /* max-height: 20px; */
}
.category {
    font-size: 14px;
    color: #888; /* Light gray */
    font-weight: 600;
}
.description {
    font-size: 18px;
    color: #666; /* Medium gray */
    font-weight: 500;
}
.less-space{
    margin-top: -200px;
}